body {
    color: #402846;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

header {
    background: #f2e8f4;
    color: rgb(140, 60, 145);
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 5px 0 0 0;
    font-weight: normal;
    font-size: 1rem;
}

/* Верхнє меню лабораторних */
nav.main-nav
{
    display: flex;
    gap: 5px;  
}
.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 10px 10px;
    background-color: #e7bce5;
    color: #6a297b;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
}
.nav-btn:hover
{
    background-color: #6a297b;
    color: #e7bce5;
}


/* Головний контейнер */
.layout {
    display: flex;
    min-height: 80vh;
}

/* Ліве меню */
.sidebar {
    width: 220px;
    background: #f8f4fb;
    padding: 15px;
    border-right: 1px solid #ccc;
}

.side-nav a
{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background: #d3b0ce;
    text-decoration: none;
    border-radius: 6px;
}
.side-nav a:hover
{
    background: #a86299;
}

/* Підменю */
.submenu {
    margin-left: 15px;
    display: none;
}

.submenu a {
    display: block;
    margin-bottom: 5px;
}

/* Центральна частина */
main.content {
    flex: 1;
    padding: 20px;
}

/* Панелі контенту */
.panel {
    display: none;
}

.panel:target {
    display: block;
}

table, th, td {
    border: 1px solid #888;
    border-collapse: collapse;
    padding: 8px;
}

form {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

img {
    max-width: 200px;
    border-radius: 10px;
    margin: 5px;
}

footer {
    background: #f2e8f4;
    color: rgb(219, 132, 205);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}